@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --foreground-color: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 9, 13, 31, 1;
    --foreground-color: #fff;
  }
}

body {
  color: var(--foreground-color);
  background: rgb(var(--background-rgb));
}

.cards{
  @apply mt-8 w-full grid grid-cols-1 md:grid-cols-2 gap-4
}

.orange{
  @apply text-blogOrange bg-lightBlogOrange rounded-2xl py-1 px-3
}

.blue{
  @apply text-blogBlue bg-lightBlogBlue rounded-2xl py-1 px-3
}

.pink{
  @apply text-blogPink bg-lightBlogPink rounded-2xl py-1 px-3
}

.purple{
  @apply text-blogPurple bg-lightBlogPurple rounded-2xl py-1 px-3
}

.dark-blue{
  @apply text-blogDarkBlue bg-lightBlogDarkBlue rounded-2xl py-1 px-3
}

.green{
  @apply text-blogGreen bg-lightBlogGreen rounded-2xl py-1 px-3
}