@tailwind base;
@tailwind components;
@tailwind utilities;

 @media (prefers-color-scheme: dark) {
  :root {
    --background: #090D1F;
    --foreground-color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --foreground-color: #1a1a1a;
  }
} 

[data-theme = "light"] body {
  background-color: var(--background);
  color: var(--foreground-color);
}

[data-theme = "dark"] body {
  background-color: var(--background);
  color: var(--foreground-color);
}

.pagination-btn{
  @apply p-3 text-blogGrey rounded-lg w-10 hover:bg-lightBlogPurple hover:opacity-80 dark:hover:bg-white dark:hover:text-primary dark:bg-primary dark:text-white
}

.pagination-btn__active{
  @apply p-3 bg-lightBlogPurple text-blogGrey w-10 hover:opacity-80 rounded-lg dark:bg-white dark:text-primary
}

.cards{
  @apply mt-8 w-full grid grid-cols-1 md:grid-cols-2 gap-4
}

.toggle-input:checked ~ .toggle-circle{
  @apply -translate-x-11
}

.orange{
  @apply text-blogOrange bg-lightBlogOrange rounded-2xl py-1 px-3
}

.blue{
  @apply text-blogBlue bg-lightBlogBlue rounded-2xl py-1 px-3
}

.pink{
  @apply text-blogPink bg-lightBlogPink rounded-2xl py-1 px-3
}

.purple{
  @apply text-blogPurple bg-lightBlogPurple rounded-2xl py-1 px-3
}

.dark-blue{
  @apply text-blogDarkBlue bg-lightBlogDarkBlue rounded-2xl py-1 px-3
}

.green{
  @apply text-blogGreen bg-lightBlogGreen rounded-2xl py-1 px-3
}